<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://127.0.0.1:61023/933958078_249000_2.4.9.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://is5.mzstatic.com/image/thumb/Purple62/v4/37/20/e7/3720e7aa-680a-46fb-9374-96f4f31f9093/source/60x60bb.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>http://is5.mzstatic.com/image/thumb/Purple62/v4/37/20/e7/3720e7aa-680a-46fb-9374-96f4f31f9093/source/60x60bb.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.dianping.dpscope</string>
				<key>bundle-version</key>
				<string>250051</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>愤怒的小鸟大作战：全球玩家实时三消对战</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
